@font-face {
  font-family: 'building';
  font-style: normal;
  font-weight: 400;
  src: url('building.woff2') format('woff2');
}

body {
  font: 16px/1.5 sans-serif;
}

h1 {
  text-align: center;
  margin-top: 50vh;
  transform: translateY(-50%);
  font: normal 22vmin building, sans-serif;
  text-transform: uppercase;
  text-shadow: 0em 0.03em 0px mediumpurple;
  color: hsla(0, 0%, 100%, .4);
}
